<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex">
    <div>
      <ion-button fill=""><ion-icon size="large" name="caret-back-circle-outline"></ion-icon></ion-button>
      
    </div>
    <div style="text-align: center;">
      <h1 style="margin: 10px;">Tabela de classificação</h1>
    </div>
    <div>
        <img style="width: 70px;" src="https://raw.githubusercontent.com/V1ct0rSb/CampeonatoFabtech/main/assets/img/logo.png" alt="">
    </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulocard">Classificação do Campeonato 1 </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="tabela">
        <table>
          <thead>
              <tr>
                  <th>Posição</th>
                  <th>Time</th>
                  <th>P</th>
                  <th>J</th>
                  <th>V</th>
                  <th>E</th>
                  <th>D</th>
                  <th>GP</th>
                  <th>GC</th>
                  <th>SG</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1</td>
                  <td>Flamengo</td>
                  <td>28</td>
                  <td>10</td>
                  <td>9</td>
                  <td>1</td>
                  <td>0</td>
                  <td>25</td>
                  <td>5</td>
                  <td>+20</td>
              </tr>
               <tr>
                  <td>2</td>
                  <td>Real Madrid</td>
                  <td>25</td>
                  <td>10</td>
                  <td>7</td>
                  <td>3</td>
                  <td>2</td>
                  <td>22</td>
                  <td>2</td>
                  <td>+18</td>
              </tr>
               <tr>
                  <td>3</td>
                  <td>Fluminense</td>
                  <td>28</td>
                  <td>10</td>
                  <td>9</td>
                  <td>1</td>
                  <td>0</td>
                  <td>25</td>
                  <td>5</td>
                  <td>+20</td>
              </tr>
               <tr>
                  <td>4</td>
                  <td>Milan</td>
                  <td>28</td>
                  <td>10</td>
                  <td>9</td>
                  <td>1</td>
                  <td>0</td>
                  <td>25</td>
                  <td>5</td>
                  <td>+20</td>
              </tr>
               <tr>
                  <td>5</td>
                  <td>Vasco</td>
                  <td>28</td>
                  <td>10</td>
                  <td>9</td>
                  <td>1</td>
                  <td>0</td>
                  <td>25</td>
                  <td>5</td>
                  <td>+20</td>
              </tr>
        
          </tbody>
            </table>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
