
.logo {
    width: 185px;
    height: 185px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .img {
    text-align: center;
  }
  
  .welcome {
    width: 270px;
    color: white;
    font-size: 25px;
    text-align: center;
    margin: auto;
  }
  
  .email,
  .senha {
    color: white;
    font-size: 20px;
    width: 270px;
    margin: 0 auto 30px auto;
  }
  
  .botao {
    text-align: center;
  }
  
  .entrar {
    font-size: 19px;
    font-weight: bolder;
  }
  
  .esqueceu {
    color: white;
    text-align: center;
    font-size: 12px;
  }
  