
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true" class="header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
  
      <ion-title>Notícias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <!-- Card 01 -->
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDDHmcXeR8hd7THW1rRw7RrAxKfuTNkdMG2EFQXFsqapDPCwS3RNMMESiLQlwwIzbZHKw&usqp=CAU"
      />
      <ion-card-header>
        <ion-card-title
          >Equipe surpreendente vence torneio amador de futebo</ion-card-title
        >
        <ion-card-subtitle
          >Sobrevivendo às expectativas, time amador conquista o
          título</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        Uma equipe de futebol amador surpreendeu a todos ao conquistar o título
        do torneio local de futebol. Apesar de ser considerada a "zebra" do
        campeonato, o time superou adversários mais experientes e bem
        classificados para levar para casa a taça. A vitória emocionante é um
        testemunho da paixão e dedicação desses jogadores amadores que provaram
        que, no mundo do futebol, tudo é possível.
      </ion-card-content>
    </ion-card>

    <!-- Card 02 -->
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDDHmcXeR8hd7THW1rRw7RrAxKfuTNkdMG2EFQXFsqapDPCwS3RNMMESiLQlwwIzbZHKw&usqp=CAU"
      />
      <ion-card-header>
        <ion-card-title
          >Equipe surpreendente vence torneio amador de futebo</ion-card-title
        >
        <ion-card-subtitle
          >Sobrevivendo às expectativas, time amador conquista o
          título</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        Uma equipe de futebol amador surpreendeu a todos ao conquistar o título
        do torneio local de futebol. Apesar de ser considerada a "zebra" do
        campeonato, o time superou adversários mais experientes e bem
        classificados para levar para casa a taça. A vitória emocionante é um
        testemunho da paixão e dedicação desses jogadores amadores que provaram
        que, no mundo do futebol, tudo é possível.
      </ion-card-content>
    </ion-card>

    <!-- Card 03 -->
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDDHmcXeR8hd7THW1rRw7RrAxKfuTNkdMG2EFQXFsqapDPCwS3RNMMESiLQlwwIzbZHKw&usqp=CAU"
      />
      <ion-card-header>
        <ion-card-title
          >Equipe surpreendente vence torneio amador de futebo</ion-card-title
        >
        <ion-card-subtitle
          >Sobrevivendo às expectativas, time amador conquista o
          título</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        Uma equipe de futebol amador surpreendeu a todos ao conquistar o título
        do torneio local de futebol. Apesar de ser considerada a "zebra" do
        campeonato, o time superou adversários mais experientes e bem
        classificados para levar para casa a taça. A vitória emocionante é um
        testemunho da paixão e dedicação desses jogadores amadores que provaram
        que, no mundo do futebol, tudo é possível.
      </ion-card-content>
    </ion-card>

    <!-- Card 04 -->
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDDHmcXeR8hd7THW1rRw7RrAxKfuTNkdMG2EFQXFsqapDPCwS3RNMMESiLQlwwIzbZHKw&usqp=CAU"
      />
      <ion-card-header>
        <ion-card-title
          >Equipe surpreendente vence torneio amador de futebo</ion-card-title
        >
        <ion-card-subtitle
          >Sobrevivendo às expectativas, time amador conquista o
          título</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        Uma equipe de futebol amador surpreendeu a todos ao conquistar o título
        do torneio local de futebol. Apesar de ser considerada a "zebra" do
        campeonato, o time superou adversários mais experientes e bem
        classificados para levar para casa a taça. A vitória emocionante é um
        testemunho da paixão e dedicação desses jogadores amadores que provaram
        que, no mundo do futebol, tudo é possível.
      </ion-card-content>
    </ion-card>

    <!-- Card 05 -->
    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDDHmcXeR8hd7THW1rRw7RrAxKfuTNkdMG2EFQXFsqapDPCwS3RNMMESiLQlwwIzbZHKw&usqp=CAU"
      />
      <ion-card-header>
        <ion-card-title
          >Equipe surpreendente vence torneio amador de futebo</ion-card-title
        >
        <ion-card-subtitle
          >Sobrevivendo às expectativas, time amador conquista o
          título</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        Uma equipe de futebol amador surpreendeu a todos ao conquistar o título
        do torneio local de futebol. Apesar de ser considerada a "zebra" do
        campeonato, o time superou adversários mais experientes e bem
        classificados para levar para casa a taça. A vitória emocionante é um
        testemunho da paixão e dedicação desses jogadores amadores que provaram
        que, no mundo do futebol, tudo é possível.
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
