ion-title {
    font-size: 1.5rem;
     font-weight: bolder;
   }
.ligas  {
     width: 100%;
  }
.ion-padding2 {
    text-align: right;
  }
.contentmenu {
    text-align: center;
  }
.menuimg {
    width: 50%;
  }
  .titulo {
    text-align: center;
  }