<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>

    <ion-title>Assistências</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <!-- card 1 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulocard"> Maiores Assistentes do Campeonato 1 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="CR7"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv7DrnpcQgpw-RK1FnbCkMEhTTf6ll29Bglzl1E3BZ_g&s"
            />
          </ion-thumbnail>
          <ion-label class="label"> 11- Cristiano Ronaldo</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Messi"
              src="https://e1.pngegg.com/pngimages/989/423/png-clipart-lionel-messi.png"
            />
          </ion-thumbnail>
          <ion-label class="label">7 - Lionel Messi</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Neymar"
              src="https://i.pinimg.com/originals/2b/01/71/2b0171e0a42032e6f05c8ff93e23f3be.png"
            />
          </ion-thumbnail>
          <ion-label class="label">7 - Neymar Júnior</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- card 2 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulocard"> Maiores Assistentes do Campeonato 2 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="CR7"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv7DrnpcQgpw-RK1FnbCkMEhTTf6ll29Bglzl1E3BZ_g&s"
            />
          </ion-thumbnail>
          <ion-label class="label"> 11- Cristiano Ronaldo</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Messi"
              src="https://e1.pngegg.com/pngimages/989/423/png-clipart-lionel-messi.png"
            />
          </ion-thumbnail>
          <ion-label class="label">7 - Lionel Messi</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Neymar"
              src="https://i.pinimg.com/originals/2b/01/71/2b0171e0a42032e6f05c8ff93e23f3be.png"
            />
          </ion-thumbnail>
          <ion-label class="label">7 - Neymar Júnior</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- card 3 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulocard"> Maiores Assistentes do Campeonato 3 </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="CR7"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv7DrnpcQgpw-RK1FnbCkMEhTTf6ll29Bglzl1E3BZ_g&s"
            />
          </ion-thumbnail>
          <ion-label class="label"> 11- Cristiano Ronaldo</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Messi"
              src="https://e1.pngegg.com/pngimages/989/423/png-clipart-lionel-messi.png"
            />
          </ion-thumbnail>
          <ion-label class="label">7 - Lionel Messi</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Neymar"
              src="https://i.pinimg.com/originals/2b/01/71/2b0171e0a42032e6f05c8ff93e23f3be.png"
            />
          </ion-thumbnail>
          <ion-label class="label">7 - Neymar Júnior</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>