<div class="ion-page" id="main-content">

  <ion-header [translucent]="true" class="header">
    <ion-toolbar>
      <div class="btnback">
        <ion-buttons slot="start">
          <ion-back-button default-href="#"></ion-back-button>
        </ion-buttons>
        <ion-title>jogos</ion-title>
      </div> 
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <!-- Card 01 -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulocard">Jogo 1</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="container">
          <div>
            
            <div class="img">
              <ion-icon style="font-size: 100px;" name="shield-outline"></ion-icon>
              <!-- <img src="https://png.pngtree.com/png-clipart/20190617/original/pngtree-vector-shield-icon-png-image_3876639.jpg" alt="" style="width: 100px;"> -->
              <p>Barcelona</p>
              
            </div>
          </div>
          
          <div>
            <ion-icon style="font-size: 70px; padding-top: 18px;" name="close-outline"></ion-icon>
            <!-- <img style="width: 50px; padding-top: 38px;" src="https://img.freepik.com/fotos-gratis/textura-cartaz-desenho-lona-criativo_1194-8218.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=sph" alt="">  -->
          </div>
          <div class="img">
            <ion-icon style="font-size: 100px;" name="shield-outline"></ion-icon>
            <p>Real Madrid</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulocard">Jogo 2</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="container">
          <div>
            
            <div class="img">
              <ion-icon style="font-size: 100px;" name="shield-outline"></ion-icon>
              <!-- <img src="https://png.pngtree.com/png-clipart/20190617/original/pngtree-vector-shield-icon-png-image_3876639.jpg" alt="" style="width: 100px;"> -->
              <p>Barcelona</p>
              
            </div>
          </div>
          
          <div>
            <ion-icon style="font-size: 70px; padding-top: 18px;" name="close-outline"></ion-icon>
            <!-- <img style="width: 50px; padding-top: 38px;" src="https://img.freepik.com/fotos-gratis/textura-cartaz-desenho-lona-criativo_1194-8218.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=sph" alt="">  -->
          </div>
          <div class="img">
            <ion-icon style="font-size: 100px;" name="shield-outline"></ion-icon>
            <p>Real Madrid</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulocard">Jogo 3</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="container">
          <div>
            
            <div class="img">
              <ion-icon style="font-size: 100px;" name="shield-outline"></ion-icon>
              <!-- <img src="https://png.pngtree.com/png-clipart/20190617/original/pngtree-vector-shield-icon-png-image_3876639.jpg" alt="" style="width: 100px;"> -->
              <p>Barcelona</p>
              
            </div>
          </div>
          
          <div>
            <ion-icon style="font-size: 70px; padding-top: 18px;" name="close-outline"></ion-icon>
            <!-- <img style="width: 50px; padding-top: 38px;" src="https://img.freepik.com/fotos-gratis/textura-cartaz-desenho-lona-criativo_1194-8218.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699747200&semt=sph" alt="">  -->
          </div>
          <div class="img">
            <ion-icon style="font-size: 100px;" name="shield-outline"></ion-icon>
            <p>Real Madrid</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>