<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>

    <ion-title>Vídeos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <iframe
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/MD748cdMAMM?si=iI8s8mRsv4UnThmy"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <ion-card-header>
      <ion-card-title>Gols e Jogadas Incríveis</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <iframe
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/MD748cdMAMM?si=iI8s8mRsv4UnThmy"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <ion-card-header>
      <ion-card-title>Destaques da Partida</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <iframe
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/MD748cdMAMM?si=iI8s8mRsv4UnThmy"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <ion-card-header>
      <ion-card-title>Resumo das Partidas</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
